@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  font-family: 'Poppins';
  color: white;
}

body {
    background-color: #111111;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  footer {
    margin-top: 49%;
    padding-bottom: 25px;
    padding-top: 10px;
    background-color: #181818;
    text-align: center;
    position: relative;
  }
  
  footer p {
      color: #fff;
      font-weight: 600;
      text-align: center;
  }
  
  .status-btn {
    background-color: #000;
    border: none;
    color: white;
    padding: 7px 15px;
    margin-bottom: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  
  .status-btn:hover {
      top: -10px;
  }
  
  @media (max-width: 480px) {
      .status-btn:hover {
          top: 0;
      }
  }